/***********************************Tag**********************************/
body {
  background-color: #EAF6F6;
}

hr {
  border-color: grey;
  border-width: 5px;
  border-style: none;
  border-top-style: dotted;
  width: 5%;
}
/*
img {
  width: 200px;
  height: auto;
}*/

h1 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}

/****************************************Class*****************************/
.profil {
width: 200px;
height: auto;
}
/*Multiple Use*/
/*************************************ID**********************************/
/*#heading {
  color: #66BFBF;
}
/*Single Use*/
